{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>The Function Junction - Event Management Company Bangalore</title>

    <!--== Favicon ==-->
    <link rel="shortcut icon" href="{% static 'assets/img/fj/logo.png   ' %}" type="image/x-icon"/>

    <!--== Google Fonts ==-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap"
          rel="stylesheet">

    <!--== All Magnific Popup CSS ==-->
    <link href="{% static 'assets/css/magnific-popup.min.css' %}" rel="stylesheet"/>
    <!--== All Animate CSS ==-->
    <link href="{% static 'assets/css/animate.min.css' %}" rel="stylesheet"/>
    <!--== All FontAwesome CSS ==-->
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet"/>
    <!--== All Material Icons CSS ==-->
    <link href="{% static 'assets/css/materialdesignicons.min.css' %}" rel="stylesheet"/>
    <!--== All Helper CSS ==-->
    <link href="{% static 'assets/css/helper.min.css' %}" rel="stylesheet"/>
    <!--== All Revolution CSS ==-->
    <link href="{% static 'assets/css/settings.css' %}" rel="stylesheet"/>
    <!--== All Slicknav CSS ==-->
    <link href="{% static 'assets/css/slicknav.min.css' %}" rel="stylesheet"/>
    <!--== All Timeline CSS ==-->
    <link href="{% static 'assets/css/timeline.css' %}" rel="stylesheet"/>
    <!--== All Slick Slider CSS ==-->
    <link href="{% static 'assets/css/slick.min.css' %}" rel="stylesheet"/>
    <!--== All BootStrap CSS ==-->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <!--== Main Style CSS ==-->
    <link href="{% static 'assets/css/style.min.css' %}" rel="stylesheet"/>

</head>

<body>

<!--== Start Header Area Wrapper ==-->
<header class="header-area transparent">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-5 col-lg-2">
                <!-- Start Logo Area -->
                <div class="logo-area">
                    <a class="logo-dark" href=""><img src="{% static 'assets/img/fj/logo.png' %}"
                                                      alt="functionjunction-Logo"></a>
                    <a class="logo-light" href=""><img src="{% static 'assets/img/fj/logo-dark.png' %}"
                                                       alt="functionjunction-Logo"></a>
                </div>
                <!-- End Logo Area -->
            </div>

            <div class="col-lg-7 d-none d-lg-block">
                <!-- Start Navigation Area -->
                <div class="navigation-area">
                    <ul class="main-menu nav">
                        <li><a href="#">Home</a></li>
                        <li><a href="#about-us">About Us</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
                <!-- End Navigation Area -->
            </div>

            <div class="col-7 col-lg-3">
                <!-- Start Header Action Area -->
                <div class="header-action text-end">
                    <a href="tel:00917349414777" class="tel-no">+91 73494 14777</a>
                    <button class="btn-menu d-lg-none"><i class="fa fa-bars"></i></button>
                </div>
                <!-- End Header Action Area -->
            </div>
        </div>
    </div>
</header>
<!--== End Header Area Wrapper ==-->

<!--== Start Slider Area Wrapper ==-->
<div class="slider-area-wrapper">
    <div id="rev_slider_11_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="business-classic"
         data-source="gallery">
        <div id="rev_slider_11_1" class="rev_slider fullwidthabanner" data-version="5.4.7">
            <ul>
                <!-- SLIDE  -->
                <li data-index="rs-27" data-transition="random-premium" data-slotamount="default" data-hideafterloop="0"
                    data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default"
                    data-thumb="assets/img/slider/01_thumb.jpg" data-rotate="0" data-saveperformance="off"
                    data-title="Slide">
                    <!-- MAIN IMAGE -->
                    <img src="{% static 'assets/img/fj/bg2.png' %}" alt="Businex" data-bgposition="top center"
                         data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="15" class="rev-slidebg"
                         data-no-retina>
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption tp-resizeme slide-heading" data-x="['center','center','center','center']"
                         data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
                         data-voffset="['250','204','200','180']" data-fontsize="['55','55','40','25']"
                         data-fontweight="['600']" data-lineheight="['65','65','50','35']" data-color="#fff"
                         data-width="['1000','1000','650','320']" data-height="none" data-whitespace="normal"
                         data-type="text" data-responsive_offset="on"
                         data-frames='[{"delay":10,"split":"lines","splitdelay":0.1,"speed":600,"split_direction":"forward","frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['center']">
                        TRANSFORMING YOUR IDEAS <br> INTO EXPERIENCES
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption tp-resizeme slide-txt" data-x="['center','center','center','center']"
                         data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
                         data-voffset="['400','370','370','310']" data-fontsize="['16','20','20','20']"
                         data-fontweight="['400','400','400','400']" data-color="#fff"
                         data-width="['600','600','600','320']" data-height="none" data-whitespace="normal"
                         data-visibility="['on','on','on','on']" data-type="text" data-responsive_offset="on"
                         data-frames='[{"delay":360,"split":"lines","splitdelay":0.1,"speed":500,"split_direction":"forward","frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
                        Your vision. Our expertise. Unforgettable memories. Ready to make your event dreams a reality?

                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption Button-Outline-Secondary rev-btn" id="slide-27-layer-11"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['top','top','top','top']" data-voffset="['490','470','490','475']" data-width="none"
                         data-height="none" data-whitespace="nowrap" data-type="button" data-letterspacing="2"
                         data-responsive_offset="on" data-responsive="off"
                         data-frames='[{"delay":650,"speed":500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"350","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);bg:rgb(8, 11, 26);"}]'
                         data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                         data-paddingright="[40,40,40,30]" data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[40,40,40,30]">Schedule a Call
                    </div>
                </li>

                <!-- SLIDE  -->
                <li data-index="rs-28" data-transition="slidingoverlayvertical,slidingoverlayleft,slideoverup"
                    data-slotamount="default,default,default" data-hideafterloop="0" data-hideslideonmobile="off"
                    data-easein="default,default,default" data-easeout="default,default,default"
                    data-masterspeed="default,default,default" data-thumb="assets/img/slider/02_thumb.jpg"
                    data-rotate="0,0,0" data-saveperformance="off" data-title="Slide">
                    <!-- MAIN IMAGE -->
                    <img src="{% static 'assets/img/fj/bg3.png' %}" alt="Businex" data-bgposition="top center"
                         data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="15" class="rev-slidebg"
                         data-no-retina>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption tp-resizeme slide-heading" data-x="['center','center','center','center']"
                         data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
                         data-voffset="['250','204','200','201']" data-fontsize="['55','60','50','30']"
                         data-fontweight="['600']" data-color="#fff" data-lineheight="['65','70','60','40']"
                         data-width="['1000','650','600','320']" data-height="none" data-whitespace="normal"
                         data-type="text" data-responsive_offset="on"
                         data-frames='[{"delay":10,"split":"chars","splitdelay":0.1,"speed":1000,"split_direction":"forward","frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['center']">
                        TRANSFORMING YOUR IDEAS <br> INTO EXPERIENCES
                    </div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption tp-resizeme slide-txt" data-x="['center','center','center','center']"
                         data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
                         data-voffset="['400','370','370','300']" data-fontsize="['16','20','20','20']"
                         data-fontweight="['400','400','400','400']" data-color="#fff"
                         data-width="['600','600','600','320']" data-height="none" data-whitespace="normal"
                         data-visibility="['on','on','on','on']" data-type="text" data-responsive_offset="on"
                         data-frames='[{"delay":360,"split":"lines","splitdelay":0.1,"speed":500,"split_direction":"forward","frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
                        Your vision. Our expertise. Unforgettable memories. Ready to make your event dreams a reality?

                    </div>

                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption Button-Outline-Secondary rev-btn"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['top','top','top','top']" data-voffset="['490','470','490','465']" data-width="none"
                         data-height="none" data-whitespace="nowrap" data-type="button" data-letterspacing="2"
                         data-responsive_offset="on" data-responsive="off"
                         data-frames='[{"delay":650,"speed":500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"350","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);bg:rgb(8, 11, 26);"}]'
                         data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                         data-paddingright="[40,40,40,30]" data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[40,40,40,30]">Schedule a Call
                    </div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
        </div>
    </div>
</div>
<!--== End Slider Area Wrapper ==-->

<!--== Start About Area Wrapper ==-->
<div class="about-area-wrapper sm-top">
    <div class="container">
        <div class="row align-items-lg-center">
            <div class="col-md-6 col-lg-5 order-lg-1">
                <figure class="about-thumb">
                    <img src="{% static 'assets/img/fj/about2.png' %}" alt="Businex-About"/>
                </figure>
            </div>

            <div class="col-md-6 col-lg-7 order-lg-0">
                <div class="about-content">
                    <h6>WE DO</h6>
                    <h2>CORPORATE EVENTS</h2>
                    <span class="about-since">Since 2017</span>

                    <p><strong>The Function Junction</strong> transforms your corporate vision into extraordinary
                        experiences. We specialize
                        in crafting unforgettable events that elevate your brand, engage your employees, and impress
                        your clients.</p>
                    <a href="" class="btn-about">MORE DETAILS <i class="mdi mdi-chevron-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End About Area Wrapper ==-->

<!--== Start About Area Wrapper ==-->
<div class="about-area-wrapper sm-top">
    <div class="container">
        <div class="row align-items-lg-center">
            <div class="col-md-6 col-lg-5">
                <figure class="about-thumb">
                    <img src="{% static 'assets/img/fj/about3.png' %}" alt="Businex-About"/>
                </figure>
            </div>

            <div class="col-md-6 col-lg-7">
                <div class="about-content">
                    <h6>WE DO</h6>
                    <h2>INDUSTRIAL EVENTS</h2>
                    <span class="about-since">Since 2017</span>
                    <p><strong>The Function Junction</strong> understands the unique demands of industrial events. We'll
                        manage the complexities of product showcases, trade shows, and facility tours with precision.
                        Our expertise ensures a smooth, professional experience that highlights your innovations,
                        attracts potential partners, and strengthens your industry presence.</p>
                    <a href="#" class="btn-about">MORE DETAILS <i class="mdi mdi-chevron-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End About Area Wrapper ==-->

<!--== Start About Area Wrapper ==-->
<div class="about-area-wrapper sm-top">
    <div class="container">
        <div class="row align-items-lg-center">
            <div class="col-md-6 col-lg-5 order-lg-1">
                <figure class="about-thumb">
                    <img src="{% static 'assets/img/fj/about-4.png' %}" alt="Businex-About"/>
                </figure>
            </div>

            <div class="col-md-6 col-lg-7 order-lg-0">
                <div class="about-content">
                    <h6>WE DO</h6>
                    <h2>SOCIAL EVENTS</h2>
                    <span class="about-since">Since 2017</span>

                    <p><strong>The Function Junction</strong> helps you celebrate life's special moments in style.
                        Whether it's a milestone birthday, an intimate anniversary, or a vibrant community gathering,
                        we'll craft a personalized social event that brings people together. From creative themes and
                        exquisite catering to flawless execution, we ensure your celebration is both unforgettable and
                        stress-free.</p>
                    <a class="btn-about">MORE DETAILS <i class="mdi mdi-chevron-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End About Area Wrapper ==-->

<!--== Start Feature Area Wrapper ==-->
<div class="feature-area-wrapper sm-top">
    <div class="container">
        <div class="row mtn-sm-50 mtn-md-5">
            <div class="col-md-4">
                <div class="icon-box-item">
                    <div class="icon-box__icon">
                        <img src="{% static 'assets/img/feature/01.png' %}" alt="Businex-Feature"/>
                    </div>
                    <div class="icon-box__info">
                        <h5>Creative Team</h5>
                        <p>Our team brings years of experience to make your event flawless.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="icon-box-item">
                    <div class="icon-box__icon">
                        <img src="{% static 'assets/img/feature/02.png' %}" alt="Businex-Feature"/>
                    </div>
                    <div class="icon-box__info">
                        <h5>Tailored experiences</h5>
                        <p>We'll create a unique event that reflects your brand and objectives.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="icon-box-item">
                    <div class="icon-box__icon">
                        <img src="{% static 'assets/img/feature/03.png' %}" alt="Businex-Feature"/>
                    </div>
                    <div class="icon-box__info">
                        <h5>Stress-free planning</h5>
                        <p>We handle the logistics, so you can relax and enjoy your event.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Feature Area Wrapper ==-->


<!--== Start Service Area Wrapper ==-->
<div class="service-area-wrapper sm-top" id="services">
    <div class="service-area-top parallax" data-parallax-speed="0.75"
         data-bg="{% static 'assets/img/fj/background1.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-5 m-auto text-center">
                    <div class="section-title section-title--light">
                        <h6>OUR SERVICES</h6>
                        <h2 class="mb-0">WHAT WE OFFER</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="service-content-area">
        <div class="container">
            <div class="row mtn-30">
                <div class="col-sm-6 col-lg-4">
                    <!-- Start Service Item -->
                    <div class="service-item">
                        <figure class="service-thumb">
                            <a href="#"><img src="{% static 'assets/img/services/bd.png' %}"/></a>

                            <figcaption class="service-txt">
                                <h5>Birthday Parties</h5>
                            </figcaption>
                        </figure>
                        <div class="service-content">
                            <div class="service-content-inner">
                                <h5><a href="#" class="stretched-link"></a>Birthday Parties</h5>
                                <p>Birthday Parties by The Function Junction</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Service Item -->
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Start Service Item -->
                    <div class="service-item">
                        <figure class="service-thumb">
                            <a href="#"><img src="{% static 'assets/img/services/award.png' %}"/></a>

                            <figcaption class="service-txt">
                                <h5>Award Ceremony</h5>
                            </figcaption>
                        </figure>
                        <div class="service-content">
                            <div class="service-content-inner">
                                <h5><a href="#" class="stretched-link"></a>Award Ceremony</h5>
                                <p>Award Ceremony by The Function Junction</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Service Item -->
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Start Service Item -->
                    <div class="service-item">
                        <figure class="service-thumb">
                            <a href="#"><img src="{% static 'assets/img/services/corporate.png' %}"/></a>

                            <figcaption class="service-txt">
                                <h5>Corporate Events</h5>
                            </figcaption>
                        </figure>
                        <div class="service-content">
                            <div class="service-content-inner">
                                <h5><a href="#" class="stretched-link"></a>Corporate Events</h5>
                                <p>Corporate Events by The Function Junction</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Service Item -->
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Start Service Item -->
                    <div class="service-item">
                        <figure class="service-thumb">
                            <a href="#"><img src="{% static 'assets/img/services/seminars.png' %}"/></a>

                            <figcaption class="service-txt">
                                <h5>Seminars</h5>
                            </figcaption>
                        </figure>
                        <div class="service-content">
                            <div class="service-content-inner">
                                <h5><a href="#" class="stretched-link"></a>Seminars</h5>
                                <p>Seminars by The Function Junction</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Service Item -->
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Start Service Item -->
                    <div class="service-item">
                        <figure class="service-thumb">
                            <a href="#"><img src="{% static 'assets/img/services/wedding.jpg' %}"/></a>

                            <figcaption class="service-txt">
                                <h5>Wedding Ceremonies</h5>
                            </figcaption>
                        </figure>
                        <div class="service-content">
                            <div class="service-content-inner">
                                <h5><a href="#" class="stretched-link"></a>Birthday Parties</h5>
                                <p>Wedding Ceremonies by The Function Junction</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Service Item -->
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Start Service Item -->
                    <div class="service-item">
                        <figure class="service-thumb">
                            <a href="#"><img src="{% static 'assets/img/services/family.png' %}"/></a>

                            <figcaption class="service-txt">
                                <h5>Family Functions</h5>
                            </figcaption>
                        </figure>
                        <div class="service-content">
                            <div class="service-content-inner">
                                <h5><a href="#" class="stretched-link"></a>Birthday Parties</h5>
                                <p>Family Function by The Function Junction</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Service Item -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Service Area Wrapper ==-->

<!--== Start Fun Fact Area Wrapper ==-->
<div class="fun-fact-area sm-top parallax" data-parallax-speed="0.70"
     data-bg="{% static 'assets/img/fj/background1.jpg' %}">
    <div class="container">
        <div class="row mtn-40">
            <div class="col-6 col-md-3 text-center">
                <div class="counter-item">
                    <h2 class="counter-number"><span class="counter">7</span>+</h2>
                    <h6 class="counter-txt">Years of experience</h6>
                </div>
            </div>

            <div class="col-6 col-md-3 text-center">
                <div class="counter-item">
                    <h2 class="counter-number"><span class="counter">100</span>%</h2>
                    <h6 class="counter-txt">Client Satisfaction</h6>
                </div>
            </div>

            <div class="col-6 col-md-3 text-center">
                <div class="counter-item">
                    <h2 class="counter-number"><span class="counter">300</span>+</h2>
                    <h6 class="counter-txt">Successful Events</h6>
                </div>
            </div>


            <div class="col-6 col-md-3 text-center">
                <div class="counter-item">
                    <h2 class="counter-number"><span class="counter">20</span>+</h2>
                    <h6 class="counter-txt">Team Members</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Fun Fact Area Wrapper ==-->

<!--== Start Testimonial Area Wrapper ==-->
<div class="testimonial-area bg-offwhite sp-y sm-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto text-center">
                <div class="section-title">
                    <h6>TESTIMONIALS</h6>
                    <h2>Clients are always <br> satisfied with us</h2>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-12">
                <div class="testimonial-content-wrap m-0 pl-0">
                    <div class="testimonial-content--3 testimonial-grid">
                        <!-- Start Testimonial Item -->
                        <div class="testimonial-item testimonial-item--3">
                            <div class="testimonial-thumb">
                                <img src="{% static 'assets/img/testimonial/client-01.jpg' %}" alt="Businex"/>
                            </div>

                            <div class="testimonial-txt">
                                <img src="{% static 'assets/img/icons/quote.png' %}" alt="Businex"/>
                                <p>Excellent decoration and ambience created by Function Junction. We appreciate all the
                                    efforts undertake.</p>
                                <h5 class="client-name">Name</h5>
                            </div>
                        </div>
                        <!-- End Testimonial Item -->

                        <!-- Start Testimonial Item -->
                        <div class="testimonial-item testimonial-item--3">
                            <div class="testimonial-thumb">
                                <img src="{% static 'assets/img/testimonial/client-01.jpg' %}" alt="Businex"/>
                            </div>

                            <div class="testimonial-txt">
                                <img src="{% static 'assets/img/icons/quote.png' %}" alt="Businex"/>
                                <p>Excellent decoration and ambience created by Function Junction. We appreciate all the
                                    efforts undertake.</p>
                                <h5 class="client-name">Name</h5>
                            </div>
                        </div>
                        <!-- End Testimonial Item -->

                        <!-- Start Testimonial Item -->
                        <div class="testimonial-item testimonial-item--3">
                            <div class="testimonial-thumb">
                                <img src="{% static 'assets/img/testimonial/client-01.jpg' %}" alt="Businex"/>
                            </div>

                            <div class="testimonial-txt">
                                <img src="{% static 'assets/img/icons/quote.png' %}" alt="Businex"/>
                                <p>Excellent decoration and ambience created by Function Junction. We appreciate all the
                                    efforts undertake.</p>
                                <h5 class="client-name">Name</h5>
                            </div>
                        </div>
                        <!-- End Testimonial Item -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Testimonial Area Wrapper ==-->

<!--== Start Call to Action Area ==-->
<div class="call-to-action-wrapper sm-top">
    <div class="container">
        <div class="footer-top-content">
            <div class="row align-items-center">
                <div class="col-md-8 col-lg-6">
                    <h2>Get Started Today</h2>
                    <p>Your vision. Our expertise. Unforgettable memories. Ready to make your event dreams a reality?
                        Let's chat!
                    </p>
                </div>
                <div class="col-md-4 col-lg-6 text-md-end mt-sm-25">
                    <a href="#contact" class="btn-outline">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Call to Action Area ==-->


<!--== Start Brand Logo Area Wrapper ==-->
<div class="brand-logo-area sm-top">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="brand-logo-content slick-row-20">
                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/company/bosch.jpeg' %}"/></a>
                    </div>
                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/company/serial.png' %}"/></a>
                    </div>
                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/company/explor.png' %}"/></a>
                    </div>
                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/company/happiest.png' %}"/></a>
                    </div>
                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/company/infoworks.png' %}"/></a>
                    </div>
                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/company/knowledgehut.png' %}"/></a>
                    </div>
                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/company/netra.png' %}"/></a>
                    </div>
                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/company/wacia.png' %}"/></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Brand Logo Area Wrapper ==-->


<!--== Start Contact Page Area Wrapper ==-->
<div class="contact-page-area-wrapper sp-y" id="contact">
    <div class="container">
        <div class="contact-content-wrap">
            <div class="row">
                <div class="col-lg-8">
                    <div class="contact-form-area contact-method">
                        <h3>Send us a Message</h3>

                        <div class="contact-form-wrap">
                            <form action="https://htmlmail.hasthemes.com/raju/businex-mail.php" method="post"
                                  id="contact-form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="single-input-item">
                                            <label>
                                                <input type="text" name="first_name" placeholder="First Name *"
                                                       required/>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="single-input-item">
                                            <label>
                                                <input type="text" name="last_name" placeholder="Last Name *" required/>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="single-input-item">
                                            <label>
                                                <input type="email" name="email_address" placeholder="Email address *"
                                                       required/>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="single-input-item">
                                            <label>
                                                <input type="text" name="phone_no" placeholder="Your Phone"/>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="single-input-item">
                                            <label for="con_message" class="sr-only m-0"></label>
                                            <textarea name="con_message" id="con_message" cols="30" rows="7"
                                                      placeholder="Message *" required></textarea>
                                        </div>

                                        <div class="single-input-item mb-0 mt-40">
                                            <button class="btn-outline">Send Message</button>
                                        </div>

                                        <div class="form-message"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="contact-information contact-method">
                        <div class="contact-info-con">
                            <h3>Contact Info</h3>

                            <div class="widget-item m-0">
                                <address>
                                    Bengaluru, Karnataka
                                    <br>
                                    thefunctionjunction.co.in
                                    <br>
                                    hello@thefunctionjunction.co.in
                                    <br>
                                    +91 73494 14777
                                </address>
                            </div>
                            <div class="member-social-icons mt-30">
                                <a href="#"><i class="mdi mdi-facebook"></i></a>
                                <a href="#"><i class="mdi mdi-twitter"></i></a>
                                <a href="#"><i class="mdi mdi-linkedin"></i></a>
                                <a href="#"><i class="mdi mdi-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Contact Page Area Wrapper ==-->

<!--== Start Footer Area Wrapper ==-->
<footer class="footer-area sp-y">

    <div class="footer-widget-area sm-top-wt">
        <div class="container">
            <div class="row mtn-40">
                <div class="col-lg-4 order-4 order-lg-0">
                    <div class="widget-item">
                        <div class="about-widget">
                            <a href="index.html"><img src="{% static 'assets/img/fj/logo.png' %}" alt="Logo"/></a>
                            <p>During the summer my wife and I got to go on an amazing road trip in Vancouver.</p>

                            <div class="copyright-txt">
                                <p>&copy;
                                    <script>
                                        document.write(new Date().getFullYear())
                                    </script>
                                    The Function Junction. All Rights Reserved.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-2 ms-auto">
                    <div class="widget-item">
                        <h4 class="widget-title">Navigation</h4>
                        <div class="widget-body">
                            <ul class="widget-list">
                                <li><a href="#">Home</a></li>
                                <li><a href="#about-us">About Us</a></li>
                                <li><a href="#services">Our Services</a></li>
                                <li><a href="#contact">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-2 ms-auto">
                    <div class="widget-item">
                        <h4 class="widget-title">Quick Links</h4>
                        <div class="widget-body">
                            <ul class="widget-list">
                                <li><a href="#">Facebook</a></li>
                                <li><a href="#">Twitter</a></li>
                                {#                                <li><a href="#">Dribbble</a></li>#}
                                <li><a href="#">Instagram</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3">
                    <div class="widget-item">
                        <h4 class="widget-title">Contact</h4>
                        <div class="widget-body">
                            <address>
                                Bengaluru, Karnataka<br>
                                thefunctionjunction.co.in<br>
                                (+91) 73494 14777<br>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--== End Footer Area Wrapper ==-->

<!-- Scroll Top Button -->
<button class="btn-scroll-top"><i class="mdi mdi-chevron-up"></i></button>


<!-- Start Off Canvas Menu Wrapper -->
<aside class="off-canvas-wrapper off-canvas-menu">
    <div class="off-canvas-overlay"></div>
    <div class="off-canvas-inner">
        <!-- Start Off Canvas Header -->
        <div class="close-btn">
            <button class="btn-close"><i class="mdi mdi-close"></i></button>
        </div>

        <!-- Start Off Canvas Content -->
        <div class="off-canvas-content">
            <div class="res-mobile-menu">

            </div>
        </div>
    </div>
</aside>
<!-- End Off Canvas Menu Wrapper -->


<!--=======================Javascript============================-->
<script src="{% static 'assets/js/modernizr-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/jquery-migrate.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/waypoint.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/counterup.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/instafeed.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.appear.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.slicknav.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/parallax.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/slick.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/magnific-popup.min.js' %}"></script>

<!--=== Active Js ===-->
<script src="{% static 'assets/js/active.min.js' %}"></script>

<!-- REVOLUTION JS FILES -->
<script src="{% static 'assets/js/revslider/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'assets/js/revslider/jquery.themepunch.revolution.min.js' %}"></script>


<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="{% static 'assets/js/revslider/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'assets/js/revslider/extensions/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/revslider/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'assets/js/revslider/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'assets/js/revslider/extensions/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'assets/js/revslider/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'assets/js/revslider/extensions/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'assets/js/revslider/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'assets/js/revslider/extensions/revolution.extension.video.min.js' %}"></script>

<!--=== REVOLUTION JS ===-->
<script src="{% static 'assets/js/revslider/rev-active.js' %}"></script>

</body>

</html>